body { background-color: #000000; }
h1 { font-family: 'Helvetica', sans-serif; color: #ffffff; }
h2 { font-family: 'Helvetica', sans-serif; color: #ffffff; }
h3 { font-family: 'Helvetica', sans-serif; color: #ffffff; }